<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <title>Vladimir Chavez | Web Developer</title>

    <meta name="description" content="Portfolio of Vladimir Chavez, a skilled web developer specializing in C#, ASP.NET Core, and front-end technologies. See my latest projects and get in touch!">
    <meta name="keywords" content="web developer, C#, ASP.NET Core, front-end, portfolio, Vladimir Chavez, Miami, Florida, FIU">
    <meta name="author" content="Vladimir Chavez">

    <meta property="og:title" content="Vladimir Chavez | Web Developer">
    <meta property="og:description" content="Portfolio of Vladimir Chavez, a skilled web developer specializing in C#, ASP.NET Core, and front-end technologies. See my latest projects and get in touch!">
    <meta property="og:image" content="https://yourwebsite.com/your-profile-image.jpg">
    <meta property="og:url" content="https://yourwebsite.com">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
